.selector-container {
    width: 100%;
}

.selector-container span {
    display: block;
    color: var(--gray-shade);
    font-size: .85rem;
    font-weight: 600;
}

.selector-container select {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    width: 100%;
    background-color: var(--gray-shade);
    border: none;
    border-radius: 5px;
    color: var(--tertiary);
    font-size: .8rem;
}

.selector-container select:focus {
    outline: none;
}